# Compilação e Saída
/out/
/target/
/build/
*.class
*.log

# Configurações do IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Maven / Gradle (opcional: se quiser ignorar o wrapper)
.gradle/